.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form {
  width: 300px;
  padding: 20px;
  background-color: #1c1b1b;
  border-radius: 5px;
}

.signup-form label {
  font-weight: bold;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.signup-form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: rgb(18, 18, 18);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #45a049;
}